body
{
    background-color: rgba(59, 82, 212, 0.609);
    justify-items: center
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;}
h3{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;}
h4{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;}

.events{
    list-style: none;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

img{
    display: flex;
    flex-direction: row;
    align-self: center;
}